*{
    margin: 0px;
    padding: 0px;
}
.container,.hero-parent{
    margin: auto;
    max-width: 1150px;

}
body{
    background-color: rgba(245, 245, 245, 1);

}
.btn{
    border-radius:8px ;
    padding:5px;
    font-weight: 600;
    font-size: 18px;
    color: rgba(0, 106, 80, 1);
    box-sizing: border-box;
    border: 1px solid rgba(0, 106, 80, 1);
    background-color: rgba(245, 245, 245, 1);
    


}
.btn1{
    border-radius:8px ;
    padding:5px;
    font-weight: 600;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border:0px;
    
    background: rgba(0, 106, 80, 1);
    


}
header{
    background: rgba(245, 245, 245, 1);
    margin-bottom: 51px;

}


 nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;

    }
.hero-parent{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding:80px 100px;
    margin: o 160px;
    gap:20px;
    border:24px;

}
.hero-parent div h2{
    color: rgba(14, 14, 14, 0.5);
    width: 622px;
   font-size: 24px;
   font-weight: 500;
    line-height: 29px;
    
}
.hero-parent div p{
    color: rgba(14, 14, 14, 1);
    width: 622px;
   font-style: Bold;
   font-size: 56px;
   font-weight: 700;
   line-height: 67px;
   

}
.hero-parent img {
    
width: 474.03px;


}

